* {
    box-sizing: border-box;
 }
 
 body {
   width : 80vw;
   margin : 0 auto;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 1em;;
 }
 

 .selected {
 
     background : rgba(250, 23, 10, .6);
     border: 4mm ridge rgba(240, 23, 10);
 }
 
 p{
   border: 1px solid;
   text-decoration: none;
   white-space: nowrap;
   text-overflow: ellipsis;
   overflow: hidden;
   width : 100%;
   padding: 20px;
 }

 p:hover {
    background-color:rgb(187, 187, 230);
    white-space: normal;
 }
 
 